 main .rounded-full{
    list-style: none;

}

main .rounded-full li {
    display: inline-block;
    position: relative;
}

main .rounded-full li a {
    display: block;
    text-decoration: none;
}

main .rounded-full li ul.dropdown li {
    display: block;
}

main .rounded-full li ul.dropdown{
    width: 100%;
    position: absolute;
    display: none;
}

main .rounded-full li a:hover ul.dropdown{
    display: block;
}


.dropdown:hover .dropdown-menu {
    display: block;
  }
  



/* 
 */

 